/*--------------------------------------------------------------
# hero Section service-detail
--------------------------------------------------------------*/

.hero-section {
  background-image: url('/img/portfolio/books-2.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 2;
}
