.project-link {
  color: var(--heading-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
}

/*--------------------------------------------------------------
# hero Section service-detail
--------------------------------------------------------------*/

.hero-section {
  background-image: url('assets/img/portfolio/books-2.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Largeur réduite centrée */
  height: 100%;
  background-image: url('assets/img/portfolio/books-2.jpg'); /* OU un fond coloré si tu veux */
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Transparence de l’image ou couleur */
  border-radius: 20px;
  z-index: 1; /* Le ::before sera juste derrière le contenu */
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2.5rem;
}

 .hero-subtitle {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.1rem;
}

/*--------------------------------------------------------------
# section
--------------------------------------------------------------*/


.section-heading {
  font-family: 'Montserrat', sans-serif;
  color: #007C91;
  font-size: 2.3rem;
}

 .section-paragraph {
  font-family: 'Poppins', sans-serif;
  color: var(--default-color);
  font-size: 1rem;
}
